/* This is the CSS for the Border of the Website and Clock*/




/* This is the CSS for the Search bar and Social Icons */
.search{width: 150px;padding: 3px; font-size: 12px;}
.submit{padding: 3px; font-size: 12px; color: white; background-color: #424242;}
form{float:right;}
.email{float:right; padding-right: 3px}
.website{float:right; padding-right: 3px}
.CS{float:right; padding-right: 3px}



/* This is the CSS for the Navigation bar */
ul{list-style-type: none; text-align: center; margin: 0; padding: 0; background-color: black;}
.li{float:left; text-align: center;}
.nav{display: block; width: 345px; background-color: #424242; color: white; text-decoration: none; text-align: center; padding: 13px; font-weight: bold; text-transform: uppercase;}
.navigation{font-size: 20px; background-color: #424242; background-size: cover; text-align: center;}



/* This is the CSS for the Content of the Website */
.home1{height: 300px; width: 550px; float: left; align: center; display:block; margin-left: 370px; margin-right: auto;}
.home2{height: 300px; width: 550px; float: right; align: center; display:block; margin-right: 370px; margin-left: auto;}
h1{color: white; font-size: 80px; background-clip: content-box; text-align: center; font-family: Lucida Console; margin-left: 280px; margin-right: 280px;}
h2{margin-left: 370px; margin-right: 370px;}
h3{margin-left: 370px; margin-right: 370px;}
.p{color: white;font-family: Lucida Console; font-size: 25px; background-clip: content-box; margin-left: 370px; margin-right: 370px;}
.img{float:center; align:center; display:block; margin-left: auto; margin-right: auto;}
.list{float: center; display: block; margin-left: auto; margin-right: auto; background-color: none;}
footer{position: fixed; top:87eft: 0; bottom: 0; width: 100%; background-color: black; color: white; text-align: center;}
body{background-color: black; color: White; font: Lucida Console;font-size: 20px;}
/* This is the CSS for the footer of the Website */
